.back-do-editor {
    background-color: #6BD1FF;
    border-radius: 8px;
    margin-bottom: 32px;
    padding: 32px;
}

.cor-do-editor {
    background-color: #141414;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.editor_circulos {
    display: flex;
    flex-direction: row;
    margin: 16px;
}

.circulo_vermelho {
    background-color:#FF5F56;
    border-radius: 100%;
    height: 12px;
    width: 12px;
    margin-right: 8px;
}

.circulo_amarelo {
    background-color: #FFBD2E;
    border-radius: 100%;
    height: 12px;
    width: 12px;
    margin-right: 8px;
}

.circulo_verde {
    background-color:#27C93F;
    border-radius: 100%;
    height: 12px;
    width: 12px;
}

.text_codigo {
    background-color: #141414;
    border: none;
    border-radius: 8px;
    color: white;
    font-family: 'Roboto Mono', monospace;
    height: 260px;
    width: 45vw;
}

.botao_visualizar {
    background-color: rgba(80, 129, 251, 0.08);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    height: 56px;
    width: 50vw;
    transition: 0.3s;
}

.botao_visualizar:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.botao_visualizar:active {
    background-color: var(--input-texto);
    transform: scale(0.9);
}

@media screen and (max-width: 768px) {
    .back-do-editor {
        margin: 0 32px 32px 32px;
    }

    .text_codigo {
        width: 99%;
    }

    .botao_visualizar {
        align-items: center;
        width: 91vw;
        margin-left: 32px;
        margin-right: 32px;
    }

}

@media screen and (max-width: 375px) {
    .back-do-editor {
        margin-right: 16px;
        margin-left: 16px;
    }
    .text_codigo {
        width: 64.5vw;
    }

    .botao_visualizar {
        margin-left: 16px;
        margin-right: 16px;
    }
}