.cabecalho {
    align-items: center;
    background-color: var(--fundo);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    display: flex;
    height: 34.05px;
    width: 145px;
    margin-left: 32px;
    margin-right: 10vw;
}

.barra-pesquisa {
    align-self: stretch;
    background-color: var(--input-texto);
    border: none;
    border-radius: 8px;
    color: white;
    display: flex;
    flex: none;
    font-size: 16px;
    font-weight: 400;
    height: calc(56px - 28px);
    width: calc(51vw - 40px);
    margin: 32px 0 40px 0;
    padding: 14px;
}

.menu-perfil {
    align-items: center;
    color: white;
    display: flex;
    margin-left: 15vw;
}

.menu-perfil_nome {
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    margin-left: 8px;
    margin-right: 3vw;
}

@media screen and (max-width: 768px) {
    .menu-perfil {
        display: none;
    }

    .menu-hamburguer {
        display: inline-block;
        margin-right: 32px;
        margin-left: 3vw;
    }

    .logo {
        margin-right: 40px;
    }

    .barra-pesquisa {
        width: 50vw;
    }
}