.cabecalho {
    align-items: center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: var(--fundo);
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    display: flex;
    height: 34.05px;
    width: 145px;
    margin-left: 32px;
}

.barra-pesquisa {
    align-self: stretch;
    background-color: var(--input-texto);
    border: none;
    border-radius: 8px;
    color: white;
    display: flex;
    flex: none;
    font-size: 16px;
    font-weight: 400;
    height: calc(56px - 28px);
    width: calc(642px - 28px);
    padding: 14px;
    margin: 32px 0 32px 0;
}

.menu-perfil {
    align-items: center;
    display: flex;
    color: white;
}

.menu-perfil_nome {
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    margin-left: 8px;
    margin-right: 44px;
}