:root {
    font-family: 'Inter', sans-serif;

    --fundo: #051D3B;
    --input-texto: rgba(255, 255, 255, 0.16);
}

body {
    background-color: #E5E5E5;
    
}

.conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}