:root {
    font-family: 'Inter', sans-serif;

    --fundo: #051D3B;
    --input-texto: rgba(255, 255, 255, 0.16);
}

body {
    background-color: #E5E5E5;
    
}

.conteudo {
    background-color: var(--fundo);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rodape {
    background-color: var(--fundo);
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    color: white;
}

@media screen and (max-width: 768px) {
    .conteudo {
        flex-direction: column;
    }
}