.menu-lateral_projeto {
    background-color: var(--fundo);
    display: flex;
    flex-direction: column;
    margin-right: 32px;
}

.seu-projeto {
    display: flex;
    flex-direction: column;
    
}

.seu-projeto_titulo {
    color: white;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.4em;
    margin: 0px 0px 16px 40px;
    text-transform: uppercase;
}

.seu-projeto_input {
    align-items: flex-start;
    background: rgba(255, 255, 255, 0.16);
    border: none;
    border-radius: 8px;
    color: white;
    display: flex;
    flex-direction: column;
    height: calc(56px - 32px);
    width: calc(20vw - 32px);
    margin: 0px 0px 16px 40px;
    padding: 16px;
    position: static;
}

.seu-projeto_textarea {
    align-items: flex-start;
    background: rgba(255, 255, 255, 0.16);
    border: none;
    border-radius: 8px;
    color: white;
    display: flex;
    flex-direction: column;
    width: calc(20vw - 32px);
    height: calc(80px - 32px);
    margin: 0px 0px 40px 40px;
    padding: 16px;
    position: static;
}

.personalizacao {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 32px 40px;
}

.personalizacao_titulo {
    color: white;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.4em;
    margin-bottom: 16px;
    margin-left: 40px;
    text-transform: uppercase;
}

.personalizacao_linguagem {
    align-self: stretch;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.16);
    border: none;
    border-radius: 8px;
    color: white;
    display: flex;
    flex: none;
    flex-direction: column;
    height: 56px;
    width: 20vw;
    margin: 0px 0px 24px 0px;
    padding: 16px;
    position: static;
}

.personalizacao_cor {
    background: var(--fundo);
    border-radius: 4px;
    height: 56px;
    width: 20vw;
}

.personalizacao_botao-salvar {
    background-color: #5081FB;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    height: 56px;
    width: 20vw;
    margin-left: 40px;
    margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
    .menu-lateral_projeto {
        margin-top: 40px;
        
    }

    .seu-projeto_input {
        width: 86vw;
        margin-right: 32px;
        margin-left: 32px;
    }

    .seu-projeto_textarea {
        width: 86vw;
        margin-right: 32px;
        margin-left: 32px;
    }

    .personalizacao {
        flex-direction: row;
        margin-bottom: 0px;
        margin-left: 32px;
    }

    .personalizacao_cor {
        width: 53vw;       
        margin-left: 20px;
    }
     .personalizacao_linguagem {
         width: 47vw;
     }

     .personalizacao_botao-salvar {
         width: 90vw;
         margin-left: 32px;
     }
}

@media screen and (max-width: 375px) {
    .menu-lateral_projeto {
        margin-top: 40px;
        
    }

    .seu-projeto_titulo {
        margin-left: 16px;
    }

    .personalizacao_titulo {
        margin-left: 16px;
    }

    .seu-projeto_input {
        width: 82vw;
        margin-right: 16px;
        margin-left: 16px;
    }

    .seu-projeto_textarea {
        width: 82vw;
        margin-right: 16px;
        margin-left: 16px;
    }

    .personalizacao {
        flex-direction: column;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    
    .personalizacao_linguagem {
        width: 90vw;
        margin-left: 16px;
    }

    .personalizacao_cor {
        width: 89vw;       
        margin-left: 16px;
        margin-bottom: 40px;
    }

     .personalizacao_botao-salvar {
         width: 90vw;
         margin-left: 16px;
     }
   
}