.menu {
    align-items: flex-start;
    background-color: var(--fundo);
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}

.menu_titulo {
    color: white;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.4em;
    margin-top: calc(49.95px - 32px);
    margin-bottom: 8px;
    margin-left: 0px;
    text-transform: uppercase;
}

.menu_lista__item {
    align-items: center;
    color: white;
    display: flex;
    font-style: normal;
    line-height: 24px;
    text-decoration: none;
}

.menu_lista__icone {
    margin: 8px 16px 8px 0px;
}